.sidebar 
    .logo-area Mr.Designer
    ul.links-area.list-unstyled
        li: a(href="#") Homepage
        li
            a.toggle-icon(href="#") 
                |Forms
                i.fa.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Input
                li: a(href="#") Textarea
                li: a(href="#") Radio
        li
            a.toggle-icon(href="#")
                |Misc
                i.fa.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Breadcrumbs
                li: a(href="#") Loading

