.sidebar 
    .logo-area Mr. 
        span Designer
    ul.links-area.list-unstyled
        li: a(href="homepage.html" class= pageTitle==='HomePage'?'active':'') Homepage
        li
            a.toggle-icon(href="#") 
                |Forms
                i.fa.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Input
                li: a(href="#") Textarea
                li: a(href="#") Radio
        li
            a.toggle-icon(href="#")
                |Misc
                i.fa.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Breadcrumbs
                li: a(href="#") Loading
        li: a(href="about.html" class= pageTitle==='About'?'active':'') About

