.sidebar 
    .logo-area Mr.Designer
    ul.links-area.list-unstyled
        li: a(href="#") Homepage
        li
            a(href="#") Forms
            ul.child-links.list-unstyled
                li: a(href="#") Input
                li: a(href="#") Textarea
                li: a(href="#") Radio
        li
            a(href="#") Misc
            ul.child-links.list-unstyled
                li: a(href="#") Breadcrumbs
                li: a(href="#") Loading

