$themes:(
    green-theme:(color:#27ae60),
    blue-theme:(color:#2980b9),
    red-theme:(color:#e74c3c),
    purple-theme:(color:#8e44ad),
    yellow-theme:(color:#f1c40f)

);

@each $theme , $map in $themes {
    .#{$theme}{
        .class-name{
            color:map-get($map:$map , $key: color)
        }
    }
}