*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.page{
    min-height:100vh;
    .content-area{
        //width: calc( 100% - 250px );
        width:100%;
        background-color: #f1eeff;
        min-height: 100vh;
        transition: 0.3s;
        will-change: width;
        float: right;
        &.no-sidebar{
            width: 100%;
        }
        
    }
    .page-head{
        .page-title{
            color:#2980b9;
            font-weight: bold;
        }
        .page-description{
    
        }
    }

}
