.header{
    background-color: #ffffff;
    padding: 20px;
    .toggle-sidebar{
        cursor: pointer;
        
    }
    .notification-container{
        display: inline-block;
        margin-left: 20px;
        .toggle-notifications{
            background-color: #eee;
            padding: 10px;
            border-radius: 50%;
            color:#555;
            cursor: pointer;
        }
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 0;
            top:10px !important;
            &::before{
                content:'';
                position: absolute;
                top:-20px;
                left:8px;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
                border-style: solid;
            }
            .noti-head{
                color:#ffffff;
                padding: 20px;
                background-color: #333;
                span{
                    float: right;
                }
            }
            .noti-content{
                padding: 20px;
            }
            .noti-foot{
                a{
                    padding: 10px;
                    display: block;
                    border-top: 1px solid #ddd;
                    text-align: center;
                    &:hover{
                        text-decoration: none;
                    }
                }
               
            }
        }
    }
}