.header{
    background-color: #ffffff;
    padding: 20px;
    
    .toggle-sidebar{
        cursor: pointer;
        
    }
    .header-icon{
        background-color: #eee;
        padding: 10px;
        border-radius: 50%;
        color:#555;
        cursor: pointer;
        margin-left: 15px;
    }
    .notification-container{
        display: inline-block;
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 0;
            top:10px !important;
            &::before{
                content:'';
                position: absolute;
                top:-20px;
                left:8px;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
                border-style: solid;
            }
            .noti-head{
                color:#ffffff;
                padding: 20px;
                background-color: #333;
                span{
                    float: right;
                }
            }
            .noti-content{
                padding: 0 20px;
                ul{
                    margin:0;
                    li{
                        padding:5px;
                        font-weight: bold;
                        color:#777;
                        i{
                            padding:10px;
                            margin-right: 10px;
                            background-color: #eee;
                            border-radius: 50%;
                            width: 42px;
                            height: 42px;
                            line-height: 21px;
                            text-align: center;
                            &.fa-envelope{
                                background-color: #badc58;
                            }
                            &.fa-money-bill-alt{
                                background-color: #ff7979;
                            }
                            &.fa-thumbs-up{
                                background-color: #ffbe76;
                            }
                            &.fa-comments{
                                background-color: #f6e58d;
                            }
                        }
                    }
                }
            }
            .noti-foot{
                a{
                    padding: 10px;
                    display: block;
                    border-top: 1px solid #ddd;
                    text-align: center;
                    &:hover{
                        text-decoration: none;
                    }
                }
               
            }
        }
    }
    .user-container{
        float: right;
        .user-name{
            cursor: pointer;
            .avatar{
                width:40px;
                height: 40px;
            }
            .user{
                font-weight: bold;
                color:#777;
                margin:0 10px;
            }
            .user-icon{
                color:#777;
            }
        }
        .dropdown-menu{
            min-width: 400px;
            border: 1px solid #777;
            padding: 20px;
            top:10px !important;
            &::before{
                content:'';
                position: absolute;
                top:-20px;
                right:20px;
                border-width: 10px;
                border-color: transparent transparent #777 transparent;
                border-style: solid;
            }
            .user-info{
             h3{
                font-weight: bold;
                color:#2980b9;
             }   
             p{
                color:#777; 
             }
            }
            .link-box{
                background-color: #fff;
                border-radius: 5px;
                padding: 7px 6px;
                border: 1px solid #eee;
                &:hover{
                    
                    box-shadow: 0 1px #777;
                }
                i{
                    color:#777;
                    &.fa-setting{
                        color: #badc58;
                    }
                    &.fa-user{
                        color:#ffbe76
                    }
                    &.fa-power-off{
                        color:#ff7979;
                    }
                }
                span{
                    float:right;
                    position: relative;
                }
                
            }

        }   

    }
}