.page{
    .sidebar{
        width:250px;
        position:fixed;
        top:0;
        left:0;
        background-color: #2b3034;
        color:#fff;
        padding: 15px;
        transition:.3s;
        min-height: 100vh;
        &.no-sidebar{
            left:-250px;
        }
        .logo-area{
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 30px;
            text-align: center;
            span{
                color:#2980b9;
            }
        }
        .links-area{
            color: #eee;
            //All Links
            li{
                a{
                    color: #ccc;
                    padding: 10px 20px;
                    display: block;
                    transition: .3s;
                    &:hover{
                        text-decoration: none;
                        color: #fff;
                    }
                    .fa-angle-right{
                        float: right;
                        position: relative;
                        top: 6px;
                        &.down{
                            transform:rotate(90deg) !important;
                        }
                    }
                }
            }
            //Main Links
            > li > a {
                position: relative;
                color: #fff;
                &:before{
                    content:'';
                    width: 10px;
                    height: 10px;
                    color: #fff;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover{
                    padding-left: 25px;
                }
                &.active:before{
                    border-color:#2980b9;
                }
            }
       
            .child-links{
                position: relative;
                display: none;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3px;
                    height: 100%;
                    background-color: #666;
                }
                a{
                    position: relative;
                    &:hover::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 3px;
                        height: 100%;
                        background-color: #fff;
                    }
                }
            }
        }
    }   
}