.page{
    .sidebar{
        width:250px;
        position:fixed;
        top:0;
        left:0;
        background-color: #2b3034;
        color:#fff;
        padding: 15px;
        transition:.3s;
        min-height: 100vh;
        &.no-sidebar{
            left:-250px;
        }
    }
}
